<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Travel Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Add Travel data</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/travel-data}" th:object="${travelData}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="city" class="col-form-label">City</label>
                        <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="City">
                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="date" class="col-form-label">Date</label>
                        <input type="date" th:field="*{date}" class="form-control" id="date">
                        <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
                    </div>
                    <input hidden type="text" th:field="*{itinerary}" th:value="${travelData.getItinerary()}" class="form-control" id="isSearch">
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Travel Data">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>City Name</th>
                    <th>Country Code</th>
                    <th>Date</th>
                    <th>Forecast Date</th>
                    <th>Temperature</th>
                    <th>Clouds</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="travel : ${travelDataList}">
                    <td th:text="${travel.getCity().getName()}"></td>
                    <td th:text="${travel.getCity().getCountryCode()}"></td>
                    <td th:text="${#dates.format(travel.getTravelDate(),'MM-dd-yyyy')}"></td>
                    <td colspan="3">
                        <table class="table table-hover">
                            <tbody>
                            <tr th:each="weather : ${travel.getCity().getWeatherForecastEntities()}">
                                <td th:text="${#dates.format(weather.getForecastDate(),'MM-dd-yyyy')}"></td>
                                <td th:text="${weather.getTemperature()}"></td>
                                <td th:text="${weather.getClouds()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
